# Census (July 2019–January 2020)
Natalia Vélez, January 2020

In this notebook:
* How much activity was there in each server? in each release?
* Aggregate measures: Age and cause of death
* How stable are these aggregate measures over different releases?

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from calmap import calendarplot, yearplot

Load data:

In [4]:
df = pd.read_csv('outputs/lifelogs_201907_data.csv', sep='\t')
df.head()

,release,server,event,timestamp,playerID,hash,uniqueID,age,sex,location,parent,cause_of_death,killer,pop,chain
0,27,bigserver2,D,1564444828,1842380,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842380_bigserver2_27,1.81,F,"(48, 94)",NaN,hunger,NaN,82,NaN
1,27,bigserver2,D,1564444830,1842301,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842301_bigserver2_27,8.00,M,"(40, 350)",NaN,hunger,NaN,82,NaN
2,27,bigserver2,B,1564444832,1842398,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842398_bigserver2_27,NaN,F,"(-325, 209)",1842145.0,NaN,NaN,84,3.0
3,27,bigserver2,B,1564444836,1842399,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842399_bigserver2_27,NaN,M,"(67, -266)",1842397.0,NaN,NaN,83,2.0
4,27,bigserver2,D,1564444859,1842311,dfd85ac03c4dd577352484b023d19d521b592696,1842311_bigserver2_27,7.76,M,"(-200, -123)",NaN,hunger,NaN,82,NaN

# Activity

Look at bigserver data specifically:

In [6]:
big_df = df[df['server'] == 'bigserver2'].reset_index(drop=True)
big_df.head()

,release,server,event,timestamp,playerID,hash,uniqueID,age,sex,location,parent,cause_of_death,killer,pop,chain
0,27,bigserver2,D,1564444828,1842380,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842380_bigserver2_27,1.81,F,"(48, 94)",NaN,hunger,NaN,82,NaN
1,27,bigserver2,D,1564444830,1842301,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842301_bigserver2_27,8.00,M,"(40, 350)",NaN,hunger,NaN,82,NaN
2,27,bigserver2,B,1564444832,1842398,583a6de73718f5dd0ddf388f4e68dc060b15e6df,1842398_bigserver2_27,NaN,F,"(-325, 209)",1842145.0,NaN,NaN,84,3.0
3,27,bigserver2,B,1564444836,1842399,520ddb069aa77dcb202dd0310a8852e8fddc58dd,1842399_bigserver2_27,NaN,M,"(67, -266)",1842397.0,NaN,NaN,83,2.0
4,27,bigserver2,D,1564444859,1842311,dfd85ac03c4dd577352484b023d19d521b592696,1842311_bigserver2_27,7.76,M,"(-200, -123)",NaN,hunger,NaN,82,NaN

Activity per release:

In [14]:
big_activity = big_df.groupby(['release', 'event']).agg({'playerID': 'count'})
big_activity = big_activity.reset_index()

big_activity.head()

   release event  playerID
0       27     B    663915
1       27     D    662902