# Generating inputs for latent job space analysis

In [1]:
import os, re, glob, datetime
from os.path import join as opj
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook

Create output dir:

In [3]:
out_dir = 'outputs/jobmatrix'
os.mkdir(out_dir)

Maplog files:

In [2]:
map_files = glob.glob('outputs/maplogs/maplog*.tsv')

Helper: Process individual file

In [7]:
f = map_files[0]

# Trim invalid 
map_df = pd.read_csv(f, sep='\t')
map_df = map_df.dropna()
map_df = map_df[map_df.player_id > 0]
map_df = map_df[map_df.object_id != '0']
map_df.head()

/Users/nvelez/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  t_elapsed        x        y object_id  player_id
2      3.71 -59612.0  28987.0        49  2535418.0
4      5.64 -58834.0  19311.0        48  2535281.0
5      6.19 -58833.0  19311.0        64  2535281.0
6      6.79 -59577.0  29385.0        53  2535238.0
7      6.79 -59731.0  27452.0        32  2535383.0